

/*###############################         TOOL TIPS (ICONS)         ################################*/


.tooltip {
  position: relative;
  display: inline-block;
}


.tooltip .tooltiptext {
	visibility: hidden;
	width: 100px;
	height: 30px;
	background-color: #555;
	font-weight: 700;
	color: orange;
	text-align: center;
	border-radius: 6px;
	z-index: 100;
  	padding: 8% 2% 4% 2%;
  	font-size: 10px;
  	font-family: 'Lato', sans-serif;
  	display: flex;
  	align-content: center;
  	align-items: center;
  	justify-content: center;

 }


  .tooltip:hover .tooltiptext {
  visibility: visible;
   animation-name: ease-in;
   animation-duration: 1.75s;
}

 @keyframes ease-in {
    0% {
      opacity: 0.0;
    }
      100% {
      opacity: 1.0;
    }
}



.tooltip .tooltiptext {
position: absolute;
  width: 70px;
  top: 110%;
  left: 50%;
  margin-left: -35px; 
 ;
}


/*###############################         POP UP BOX (NAME)        ################################*/


.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.popup .popuptext {
  visibility: hidden;
  width: 220px;
  height: 110px;

  border-radius: 10px;
  position: absolute;
  z-index: 1;
  top: 92%;
  left: 50%;
  margin-left: -110px;

  background-color: #555;
  color: white;
  font-size: 14px;
  vertical-align: center; 
  padding: 8% 8% 4% 8%;


}

.popup .show {
  visibility: visible;
  animation-name: ease-in;
  animation-duration: 0.75s;
}


 @keyframes ease-in {
    0% {
      opacity: 0.0;
    }
      100% {
      opacity: 1.0;
    }
}



.popup .popuptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 20%;
  margin-left: -10px;
  border-width: 7.5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;

}

@media screen and (max-width: 800px) {



.popup .popuptext {
  visibility: hidden;
  width: 150px;
  height: 75px;

  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 90%;
  left: 50%;
  margin-left: -40px;

  font-size: 11px;
  padding: 8% 8% 4% 8%;
 


}

.popup .show {
  visibility: visible;

}

}

/*###############################         COLLAPSABLE BOXES (TIMELINE)        ################################*/



#tlBtn, #tlBtn2, #tlBtn3, #tlBtn4, #tlBtn5 {
  background-color: grey;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 14px;
  justify-content: center;
  position: relative;






}


.active {
  background-color: orange !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}



.active2 {
  background-color: skyblue !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}



#tlBtn:hover, #tlBtn2:hover, #tlBtn3:hover, #tlBtn4:hover, #tlBtn5:hover {
  background-color: orange;

}

#tlBtn5:hover {
  background-color: skyblue;

}


.tlText, .tlText2, .tlText3, .tlText4, .tlText5 {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  font-size: 14px;
  background-color: #f1f1f1;
  border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;

}



@media screen and (max-width: 1000px) {

.tlText, .tlText2, .tlText3, .tlText4, .tlText5 {
  font-size: 12px;
}


}

#tlBtn:after, #tlBtn2:after,#tlBtn3:after,#tlBtn4:after,#tlBtn5:after {
  content: '';
  position: absolute !important;
  bottom: 8% !important;
  right: 47% !important;
  color: white !important;
  margin-left: 5px;
  font-size: 18px !important;
  border-style: solid;
  border-color: transparent transparent transparent white;
  border-width: 6px;
  transition: transform .2s ease-out;


}

.active:after, .active2:after {
  transform: rotate(90deg) translateY(+2px) translateX(+2px);
  transition: transform .2s ease-out;


}


/*###############################         FRONT PAGE - ANIMATION        ################################*/




#typewriter  h2 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 8s steps(60, end),
    blink-caret .75s step-end infinite;
  background-color: inherit;
  display:inline-block; 
  margin: 2% 2%;
  animation-delay: 0s;
}

/* The typing effect */
@keyframes typing {
  0% { width: 0%}
  30% { width: 0%}
  100% { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}


.typecontainer {
  background-color: inherit;
  width: auto;
  display: flex;
  justify-content: center;
}

.firstPara {

 animation-name: appear;
 animation-duration:14.5s;

}



@keyframes appear {
 0% { opacity: 0;}
 55% { opacity: 0;}
 100% {opacity: 1;}
}


.thankYou {

 animation-name: flyinDown;
 animation-duration:10.5s;
 width: 100%;
 height: 100%;
 margin: 0;
 text-align: center;
 overflow:hidden;


}


@keyframes flyinDown {
 0% { transform: translateX(1200%)}
 70% { transform: translateX(1200%)}
 100% {transform: translateX(0%) }
}


.thankYou2 {

 animation-name: fontChange;
 animation-duration:11.5s;
 color:#FF9F55;


}

@keyframes fontChange {
 0% {color:black;  }
 70% {color: black; }
 100% {color: #FF9F55; }
}






@media screen and (max-width: 1000px) {

#typewriter  h2 {
font-size: 14px;
}

}

@media screen and (max-width: 400px) {

#typewriter  h2 {
font-size: 16px;
animation-name: none;
white-space: pre-wrap;
border: none;
}

.firstPara {

 animation-name: none;


}


.thankYou {

 animation-name: none;


}

.thankYou2 {

 animation-name: none;


}

}