
/* the slide container */
.carousel-container {
	width: 418px;
	margin: auto;
	border: 4px solid black;
	overflow: hidden;
	border-radius: 8px;
	position: relative;
	font-size: 40px;
	color: orange;
    text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;

}

/* the image */
.carousel-slide {
	display:flex;
	width: 100%;
	height: 410px;
}


/* Add media query to resize carousel for mobile*/



/* next and previous buttons*/
#nextBtn {


	position: absolute;
	bottom: 4%;
	right: 4%;
	z-index: 100;
	opacity: 0.6;
}

#prevBtn {
	
	position: absolute;
	bottom: 4%;
	left: 4%;
	z-index: 100;
	opacity: 0.6;
}

img.resize {
  width:410px;
  height:410px;
}


/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 800px) {

/* CODE TO MAKE IMAGE APPEAR BELOW TEXT ON SMALL SCREEN */


		img.resize {
  		width:340px;
  		height:340px;
	}

	.carousel-container {
		width: 340px;
		height: 340px;
		border: 4px solid black;
		margin: 2% 10% 2% 0%;

		position: relative;
		font-size: 35px;


	}

	/* the image */
	.carousel-slide {
		height: 340px;
		width: auto;
		position: absolute;


	}






}

/* ##########################################################################################################################*/



/* Media queries - Responsive timeline on screens less than 400px wide */
@media screen and (max-width: 400px) {


	img.resize {
  		width:250px;
  		height:250px;
	}



	.carousel-container {
		width: 250px;
		height: 250px;
		border: 4px solid black;
		margin: 2% 10% 2% 0%;

		position: relative;
		font-size: 35px;


	}

	/* the image */
	.carousel-slide {
		height: 250px;
		width: auto;
		position: absolute;


	}



}
