.background1a {
	background-image: url("./Images/image1a.jpeg");
	display: flex;
    position: relative;
    background-size: cover; 
}

.background2a {
	background-image: url("./Images/image2a.jpg");
	display: flex;
	position: relative;
    background-size: cover; 
}

.background3a {
	background-image: url("./Images/image3a.jpg");
	display: flex;
	position: relative;
    background-size: cover; 
}

.background4a {
	background-image: url("./Images/image4a.jpeg");
	display: flex;
	position: relative;
    background-size: cover; 
}

.headerWrapper2 {
    position: fixed;
    background-color: white;
    color: black;
    display: grid;
    grid-template-columns: 0.7fr 2.7fr 1.7fr 2fr 2fr 2fr 2fr 1.5fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "icon name space link link link space icon icon icon icon";
    padding: 0px;
    height: 75px;
    width: 100%;
    font-size: 30px;
    left:0;
    top: 0;
    opacity: 0.9;
    z-index: 100;
    border-bottom: 2px solid darkslategrey;
 }

 .changeTheme2 {
	background-color: darkslategrey;
	color: white;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2% 2% 2% 2%;
	border-radius: 10px;
}

.changeTheme2:hover {
	color: orange;
}

.footer2 {
    background-color: white;
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 5fr 4fr 1fr 2fr 2fr 1fr 1fr;
    grid-template-areas: "space top space name space theme space email space";
    padding: 0px;
    height: 45px;
    width: 100%;
    font-size: 14px;
    opacity: 0.9;
    z-index: 100;
    border-top: 2px solid darkslategrey;
    align-items: center;
	justify-content: center;
	position: absolute;
	left: 0;
    right: 0;
}

.footer2:link {
	background-color: inherit;
	color: inherit;
	text-decoration: none;
}

.footer2:visited {
	background-color: inherit;
	color: inherit;
	text-decoration: none;
}

@media screen and (max-width: 1000px) {

.footer2 {
  font-size: 10px;
    text-align: center;
}


@media screen and (max-width: 450px) {

.footer2 {
    font-size: 7px;
    text-align: center;
}




	}
